{{>header}}
    
    <img src="./img/saf.jpg" alt="ProfilePic">
    <br>
    <p>The site was created by John Saferio.<hr> It uses data from mapbox.com and weatherstack.com to proved the accurate forecast.</p>
    <br>
{{>footer}}