{{>header}}
    <form id="weatherSearch">
        <input placeholder="Location" id="search">
        <input type="submit" id="submitSearch" value="Search">
    </form>
    <br>
    <hr id="pageBreak">
    <br>

    <h1 class="weatherError"></h1>
    <h2 class="location"></h1>

    <h1 class="forecast"></h1>
{{>footer}}