body {
    font-size: 14pt;
    font-family: Arial;
    width: 650px;
    margin: 0 auto;
    /* padding: 20px 16px 0 16px; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mainContent {
    flex-grow: 1;
}

h1 {
    color: grey;
}

img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

header {
    margin-top: 20px;
}

header a {
    text-decoration: none;
    margin-right: 20px;
    border: 2px solid #EB5352;
    color: #EB5352;
    padding: 10px;
    border-radius: 5px;
    font-family: Arial;
    font-size: 14pt;
}

header a:hover {
    background-color: #EB5352;
    color: white;
}

header h1 {
    color: #1E1E1E;
}

.siteError h1 {
    margin-top: 20px;
    color: #1E1E1E;
}

.pageError a {
    text-decoration: none;
    color: #EB5352;
    font-family: Arial;
    font-size: 14pt;
}

.pageError a:hover {
    color: #007ACC;
}

footer p {
    color: #979797;
}

.location {
    color: #EB5352;
}

.forecast {
    color: #007ACC;
}

#search {
    width: 300px;
    height: 40px;
    border: 2px solid #979797;
    border-radius: 50px;
    font-size: 14pt;
    outline: none;
    padding-left: 20px;
}

#submitSearch {
    width: 100px;
    height: 45px;
    border: 2px solid #EB5352;
    border-radius: 50px;
    font-size: 14pt;
    color: #EB5352;
    outline: none;
    cursor: pointer;
}

#weatherSearch {
    margin-top: 30px;
}

#pageBreak {
    display: none;
}